@model CoffeeShopWeb.Models.Resource
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/css/St&MngProd&Res.css" />

<h2>Create Product</h2>


@if (TempData["Success"] != null)
{
    <div class="success">@TempData["Success"]</div>
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div><label>Name</label><input asp-for="Name" required /></div>
    <div><label>Quantity</label><input asp-for="Quantity" type="number" required /></div>
    <div><label>Unit</label><input asp-for="Unit" required /></div>
    <div>
        <label>Category</label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))"></select>
    </div>
    <button type="submit">Create</button>
</form>
<br>

<a asp-controller="CoffeeShopResourceManagement" asp-action="Index" class="back-button">⬅ Back</a>
