:root {
    --main-color: #b07c50;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: white;
}

.admin-container {
    display: flex;
    height: 100vh;
}

.admin-sidebar {
    width: 220px;
    background-color: var(--black);
    border-right: var(--border);
    padding: 1rem;
    box-sizing: border-box;
}

    .admin-sidebar h2 {
        color: var(--main-color);
        margin-bottom: 1rem;
    }

    .admin-sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .admin-sidebar ul li {
            margin-bottom: 1rem;
        }

    .admin-sidebar a {
        color: white;
        text-decoration: none;
        padding: 0.5rem;
        display: block;
        border-radius: 0.5rem;
        transition: background 0.3s;
    }

        .admin-sidebar a:hover {
            background-color: var(--main-color);
        }

.admin-content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

canvas {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
}
